<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc" name="New From Graph" schema="schema/com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.devtools.depan.graph_doc.eclipse.ui.editor.GraphEditor"
            default="false"
            extensions="dgi"
            icon="icons/graph_file-16x16.png"
            id="com.google.devtools.depan.graph_doc.eclipse.ui.editor.GraphEditor"
            name="Graph Tree">
      </editor>
      <editor
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.NodeListEditor"
            default="false"
            extensions="dni"
            icon="icons/graph_file-16x16.png"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.NodeListEditor"
            name="NodeList Editor">
      </editor>
   </extension>
   <extension
         point="com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc">
      <contribution
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NodeListFromGraphDocContributor"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NodeListFromGraphDocContributor">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan.eclipse.ui.analyzers.wizards"
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NewSubtractNodesWizard"
            icon="icons/not16.png"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NewSubtractNodesWizard"
            name="Subtract Nodes">
      </wizard>
      <wizard
            category="com.google.devtools.depan.eclipse.ui.analyzers.wizards"
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NewUnionNodesWizard"
            icon="icons/or.png"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NewUnionNodesWizard"
            name="Union Nodes">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="eclipse.ui.main.menu.Edit"
               label="Edit">
            <command
                  commandId="com.google.devtools.depan.graph_doc.eclipse.ui.command.SelectNone"
                  id="com.google.devtools.depan.graph_doc.eclipse.ui.command.SelectNone"
                  label="Select None"
                  style="push"
                  tooltip="Deselect all nodes">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.graph_doc.eclipse.ui.editor.isGraphEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <dynamic
                  class="com.google.devtools.depan.graph_doc.eclipse.ui.widgets.SelectRecursiveMenu"
                  id="com.google.devtools.depan.graph_doc.eclipse.ui.document.SelectRecursive">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.graph_doc.eclipse.ui.editor.isGraphEditorActive">
                  </reference>
               </visibleWhen>
            </dynamic>
            <separator
                  name="com.google.devtools.depan.graph_doc.eclipse.ui.edit.separator1"
                  visible="true">
            </separator>
            <dynamic
                  class="com.google.devtools.depan.graph_doc.eclipse.ui.widgets.NewFromGraphDocMenu"
                  id="com.google.devtools.depan.graph_doc.eclipse.ui.document.NewFromGraphDoc">
            </dynamic>
         </menu>
         <menu
               id="eclipse.ui.main.menu.View"
               label="View">
            <command
                  commandId="com.google.devtools.depan.graph_doc.eclipse.ui.view.HierarchyFrom"
                  id="com.google.devtools.depan.graph_doc.eclipse.ui.view.HierarchyFrom"
                  label="Hierarchy From..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.graph_doc.eclipse.ui.editor.isGraphEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="com.google.devtools.depan.graph_doc.eclipse.ui.view.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.google.devtools.depan.graph_doc.eclipse.ui.view.CollapseAll"
                  id="com.google.devtools.depan.graph_doc.eclipse.ui.view.CollapseAll"
                  label="Collapse All"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.graph_doc.eclipse.ui.editor.isGraphEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.google.devtools.depan.graph_doc.eclipse.ui.view.ExpandAll"
                  id="com.google.devtools.depan.graph_doc.eclipse.ui.view.ExpandAll"
                  label="Expand All"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.graph_doc.eclipse.ui.editor.isGraphEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="eclipse.ui.main.menu.Edit"
               label="Edit">
            <command
                  commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.SelectNone"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.SelectNone"
                  label="Select None"
                  style="push"
                  tooltip="Deselect all nodes">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <dynamic
                  class="com.google.devtools.depan.nodelist_doc.eclipse.ui.widgets.SelectRecursiveMenu"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.document.SelectRecursive">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
                  </reference>
               </visibleWhen>
            </dynamic>
            <separator
                  name="com.google.devtools.depan.nodelist_doc.eclipse.ui.edit.separator1"
                  visible="true">
            </separator>
            <dynamic
                  class="com.google.devtools.depan.nodelist_doc.eclipse.ui.widgets.NewFromNodeListMenu"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.document.NewFromGraphDoc">
            </dynamic>
            <command
                  commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.Combine"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.Combine"
                  label="Combine..."
                  style="push"
                  tooltip="Combine with another node list">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="eclipse.ui.main.menu.View"
               label="View">
            <command
                  commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.HierarchyFrom"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.HierarchyFrom"
                  label="Hierarchy From..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.CollapseAll"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.CollapseAll"
                  label="Collapse All"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.ExpandAll"
                  id="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.ExpandAll"
                  label="Expand All"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.google.devtools.depan.graph_doc.eclipse.ui.editor.isGraphEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="com.google.devtools.depan.graph_doc.eclipse.ui.editor.GraphEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.isNodeListEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.NodeListEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Collapse All"
            id="com.google.devtools.depan.graph_doc.eclipse.ui.view.CollapseAll"
            name="Collapse All">
      </command>
      <command
            description="Expand All"
            id="com.google.devtools.depan.graph_doc.eclipse.ui.view.ExpandAll"
            name="Expand All">
      </command>
      <command
            description="Hierarchy From"
            id="com.google.devtools.depan.graph_doc.eclipse.ui.view.HierarchyFrom"
            name="Hierarchy From">
      </command>
      <command
            description="Select None"
            id="com.google.devtools.depan.graph_doc.eclipse.ui.command.SelectNone"
            name="Select None">
      </command>
      <command
            description="Collapse All"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.CollapseAll"
            name="Collapse All">
      </command>
      <command
            description="Expand All"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.ExpandAll"
            name="Expand All">
      </command>
      <command
            description="Hierarchy From"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.HierarchyFrom"
            name="Hierarchy From">
      </command>
      <command
            description="Select None"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.SelectNone"
            name="Select None">
      </command>
      <command
            description="Combine NodeLists"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.Combine"
            name="Combine NodeLists">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.google.devtools.depan.graph_doc.eclipse.ui.handlers.CollapseAllHandler"
            commandId="com.google.devtools.depan.graph_doc.eclipse.ui.view.CollapseAll">
      </handler>
      <handler
            class="com.google.devtools.depan.graph_doc.eclipse.ui.handlers.ExpandAllHandler"
            commandId="com.google.devtools.depan.graph_doc.eclipse.ui.view.ExpandAll">
      </handler>
      <handler
            class="com.google.devtools.depan.graph_doc.eclipse.ui.handlers.HierarchyFromHandler"
            commandId="com.google.devtools.depan.graph_doc.eclipse.ui.view.HierarchyFrom">
      </handler>
      <handler
            class="com.google.devtools.depan.graph_doc.eclipse.ui.handlers.SelectNoneHandler"
            commandId="com.google.devtools.depan.graph_doc.eclipse.ui.command.SelectNone">
      </handler>
      <handler
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.handlers.CollapseAllHandler"
            commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.CollapseAll">
      </handler>
      <handler
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.handlers.ExpandAllHandler"
            commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.ExpandAll">
      </handler>
      <handler
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.handlers.HierarchyFromHandler"
            commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.view.HierarchyFrom">
      </handler>
      <handler
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.handlers.SelectNoneHandler"
            commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.SelectNone">
      </handler>
      <handler
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.handlers.CombineHandler"
            commandId="com.google.devtools.depan.nodelist_doc.eclipse.ui.command.Combine">
      </handler>
   </extension>

</plugin>
